/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #cbd7fb;
  color: #233f5c;
  font-family: 'Ubuntu', sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.6;
}

h1 {
  margin-left: 1.2em;
  margin-top: 80px;
  font-weight: 700;
  font-size: 3em;
  color: #343a40;
  -webkit-box-shadow: 5px 5px 5px #343a40;
          box-shadow: 5px 5px 5px #343a40;
  width: 90%;
}

.page-header {
  background: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

.page-header_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header_item:last-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-right: 70px;
}

.navigation-list_item--active {
  text-decoration: none;
}

.img_logo {
  margin: 8px;
  max-width: 220px;
  max-height: 50px;
  cursor: pointer;
}

.img_logo:hover,
.img_logo:focus {
  opacity: 0.8;
}

a {
  color: #cbd7fb;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  opacity: 0.8;
}

.pokemon-list li {
  margin: 0 auto;
  list-style: none;
}

.pokemon-list button {
  border: 1px solid #233f5c;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #233f5c;
          box-shadow: 5px 5px 5px #233f5c;
  background-color: #9f9ff4;
  width: 40%;
  margin: 0.5em;
  padding: 20px;
}

.pokemon-list button:hover,
.pokemon-list button:focus {
  cursor: pointer;
  opacity: 85%;
}

.is-hidden {
  display: none;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.modal {
  margin: auto;
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  background: #fbefcb;
  padding: 15px;
  width: 100%;
  max-width: 900px;
}

.modal h1 {
  max-width: 85%;
}

.modal div {
  margin-left: 40px;
  background: #f7e09c;
  border: 0.5px solid #233f5c;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #233f5c;
          box-shadow: 5px 5px 5px #233f5c;
  font-size: 0.9em;
  text-align: left;
  width: 50%;
  padding: 0.8em;
}

.pokemon-details {
  font-size: 1.2em;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #233f5c;
  text-decoration: underline;
}

.modal-close:hover,
.modal-close:focus {
  text-decoration: none;
}

.modal img {
  float: right;
  margin-right: 50px;
  min-width: 180px;
  max-width: 300px;
  background: #f7e09c;
  border: 0.5px solid #233f5c;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #233f5c;
          box-shadow: 5px 5px 5px #233f5c;
}

@media all and (min-width: 800px) and (max-width: 1300px) {
  .modal {
    text-align: center;
    font-size: 0.8em;
  }

  .modal img {
    float: none;
    display: inline;
  }

  .modal div {
    width: 86%;
    margin: 0 auto;
  }

  .modal img {
    margin: 0 auto;
  }
}

@media all and (max-width: 800px) {

  .img_logo {
    max-width: 150px;
    max-height: 30px;
  }
  .navigation-list li {
      display: block;
      margin: 10px;
      font-size: 14px;
    }

    h1 {
      font-size: 3em;
      margin-left: 0.9em;
      margin-top: 120px;
    }

  .pokemon-list li {
    text-align: center;
    margin-left: -4em;
  }

  .pokemon-list button {
    width: 85%;
  }

  #modal-container.is-visible {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 1.5em;
  }

  .modal {
    grid-column: auto / auto;
    text-align: center;
    font-size: 0.8em;
  }

  .modal img {
    float: none;
    display: inline;
    margin: 0 auto;
  }

  .modal div {
    width: 86%;
    margin: 0 auto;
  }
}
